<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Data Collect</title>
</head>
<body>
    <h1>User Data Form</h1>
    <form action="/form" method="post">
        <label>Username</label>
        <input type="name" name="username"><br>
        <label>Email</label>
        <input type="email" name="email"><br>
        <label>Hobbies</label>
        <input type="name" name="hobbies"><br>
        <input type="submit" name="">
    </form>
    <br>
    <form action="/home">
        <button type="submit">Home</button>
    </form>
</body>
</html>