<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask Demo Home</title>
</head>
<body>
    <form action="/embedded-html">
      <button type="submit">Hardcoded HTML</button>
    </form>
    <br>
    <form action="/pass-parameter">
      <button type="submit">Parameter Passing</button>
    </form>
    <br>
    <form action="/temp">
      <button type="submit">Template HTML</button>
    </form>
    <br>
    <form action="/temp/Andy">
      <button type="submit">Template HTML with name</button>
    </form>
    <br>
    <form action="/user/Andy">
      <button type="submit">Escape Method</button>
    </form>
    <br>
    <form action="/form">
      <button type="submit">Http Methods</button>
    </form>
    <br>
    <form action="/full">
        <button type="submit">Full Webpage With Static Files</button>
    </form>
    <br>
    <form action="/data">
        <button type="submit">Database</button>
    </form>
    <br>
    <form action="/watchlist">
        <button type="submit">Watchlist</button>
    </form>
</body>
</html>