<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Watchlist Database</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='watchlist-css/style.css') }}" type="text/css">
</head>
<body>
    <h2>Watchlist Database</h2>
    <p>{{ users|length }} Users</p>
    <ul class="movie-list">
        {% for user in users %}
        <li>{{ user.name }} - {{ user.username }}</li>
        {% endfor %}
    </ul>
    {# 使用 length 过滤器获取 movies 变量的长度 #}
    <p>{{ movies|length }} Movies</p>
    <ul class="movie-list">
        {% for movie in movies %}  {# 迭代 movies 变量 #}
        <li>{{ movie.title }} - {{ movie.year }}</li>  {# 等同于 movie['title'] #}
        {% endfor %}  {# 使用 endfor 标签结束 for 语句 #}
    </ul>
    <br>
    <form action="/home">
        <button type="submit">Home</button>
    </form>
    <footer>
        <small>&copy; 2018 <a href="http://helloflask.com/tutorial">HelloFlask</a></small>
    </footer>
</body>
</html>